<body>
<form method="post" action="/main_page_l">
<h2>Log in!</h2>
                    
</br>Username:<input class="textbox" type="text" name="username" /></br>

</br>Password:<input class="textbox" type="password" name="password" /></br>

</br>
</br><input class="boton" type="submit" value="Log in"/></br>

</br>Aren't you a memeber? <a href="/sign_in_page">Sign in!</a>

</form>
</body>
