<body>
    <form method="post" action="main_page_s">
        <h2>Create an account!</h2>
                          

        <div class="section">
            <span>Username:</span>
            <input class="textbox" type="text" name="username" />
        </div>


        <div class="section">
            <span>Password:</span>
            <input class="textbox" type="password" name="password" />
        </div>
        
        <div class="section">
            <input class="boton" type="submit" value="Continue"/>
        </div>
    </form>
</body>

